* {
    all: unset; //Unsets everything so you can style everything from scratch
}

$bg: #0d1417;
$lightbg: #232a2d;
$white: #dadada;
$red: #e57474;
$gray: #b3b9b8;
$green: #8ccf7e;

.bar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: feather;
    font-family: Iosevka Nerd Font;
    border-radius: 16px;
    background-color: $bg;
    padding: 5px;
    margin: 2px 20px;
}

.workspaces {
    margin-left: 10px;
}

.workspace-btn {
    background-color: $gray;
    color: black;
    margin: 2px;
    padding: 2px 10px;
    border-radius: 100px
}

.workspace-btn-active {
    background-color: $green;
    color: black;
    margin: 2px;
    padding: 2px 10px;
    border-radius: 100px
}
