*{
  all: unset;
  font-family: feather;
  font-family: Iosevka;
}

.gmail, .bitbucket, .calendar {
  margin: 10px;
  font-size: 25px;
  min-width: 1px;
  min-height: 100px;
}

.board {
  background-color: red;
  border-radius: 16px;
}

.dashboard {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 1px;
  min-height: 1px;
}

.gmail {
  color: rgba(199, 22, 16, 0.5);
}

.bitbucket {
  color: rgba(62, 101, 207, 0.5);
}

.calendar {
  color: rgba(8, 133, 27, 0.5);
}
